
:root {
    --mainColor: #8CD5FF;
    --secondaryColor: #B1F3FF;
    --borderColor: #1F1985;

    --mainTextColor: #000;
    --secondaryTextColor: #000;

    --linkTextColor: #1026EC;
    --linkTextColorOnHover: #AA00FF;

    --themeDotBorderColor: #000;
    --shadowSettings: -1px 1px 3px -1px #000;

    --previewBackgroundColor: #13C8E491;
    --previewShadowColor: #338EC4;
    --previewShadowsShadowColor: #000;

    --previewBorderColor: #1F1985;
    --previewCornerFillColor: #FFF;

    --githubTitleColor: #AA00FF;

    --postBackgroundColor: #FFF;
    --postTitleColor: #000;
    --postSummaryColor: #4B5156;

    --formButtonColor: #1F1985;
    --formButtonTextColor: #FFF;
    --formElementColorOnHover: #1026EC;
    --inputFieldBackgroundColor: #FFF;

    --footerLinksColor: #1026EC;
    --footerLinksColorOnHover: #AA00FF;
}
