
:root {
    --mainColor: #15202B;
    --secondaryColor: #192734;

    --borderColor: #1c5f69;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --themeDotBorder: #fff;

    --shadowSettings: -1px 1px 3px -1px rgba(33, 13, 98, 0.8);

    --previewBackground: rgba(25, 39, 52, 0.8);
    --previewShadow: #071b3a;
    --previewShadowsShadow: #030424;

    --buttonColor: black;
}
