
:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;
    --borderColor: #bbbbbb;

    --mainTextColor: black;
    --secondaryTextColor: #4b5156;

    --linkTextColor: #5ab5c5;
    --linkTextColorOnHover: #783eff;

    --themeDotBorderColor: #24292e;
    --shadowSettings: -1px 1px 3px -1px rgba(0,0,0,0.75);

    --previewBackgroundColor: rgba(210, 237, 245, 0.801);
    --previewShadowColor: #cccccc;
    --previewShadowsShadowColor: #e0e0e0;

    --previewBorderColor: #17a2b8;
    --previewCornerFillColor: #fff;

    --postBackgroundColor: #fff;
    --postTitleColor: black;
    --postSummaryColor: #4b5156;

    --formButtonColor: black;
    --formButtonTextColor: #fff;
    --formElementColorOnHover: rgb(51, 50, 50);

    --footerLinksColor: rgb(29, 161, 2);
    --footerLinksColorOnHover: rgb(36, 212, 1);
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body * { transition: 0.3s; }

h1, h1, h3, h4, h5, h6, strong {
    color: var(--mainTextColor);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea {
    color: var(--secondaryTextColor);
    font-family: 'Roboto Mono', monospace;
}

a { 
    text-decoration: none;
    color: var(--linkTextColor);
    font-family: 'Roboto Mono', monospace;
}

a:hover { color: var(--linkTextColorOnHover); }

ul { list-style: none; }

h1 { font-size: 56px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
    padding: 0px 10px 20px 10px;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 2px solid var(--borderColor);
    border-radius: 5px;

    -webkit-box-shadow: var(--shadowSettings);
    -moz-box-shadow: var(--shadowSettings);
    box-shadow: var(--shadowSettings);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper {
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    max-height: 2.5em;
}

#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#navigation li a { font-weight: 600; }

#navigation li a:hover { font-size: 18px; }

.dots-wrapper {
    display: flex;
    padding: 10px;
}

#dot-1 { background-color: #fc6058; }
#dot-2 { background-color: #fec02f; }
#dot-3 { background-color: #2aca3e; }

.browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: var(--shadowSettings);
    -moz-box-shadow: var(--shadowSettings);
    box-shadow: var(--shadowSettings);
}

.left-column {
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile-pic {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
    border-radius: 15%;
}

#profile-pic:hover {
    -webkit-box-shadow: -1px 1px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 8px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 8px -1px rgba(0,0,0,0.75);
}

#theme-options-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    max-height: 2em;
}

.theme-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid var(--themeDotBorderColor);
    background-color: black;

    -webkit-box-shadow: var(--shadowSettings);
    -moz-box-shadow: var(--shadowSettings);
    box-shadow: var(--shadowSettings);
    cursor: pointer;
}

.theme-dot:hover { border-width: 4px; }

#light-mode { background-color: #fff; }
#blue-mode { background-color: #2294ff; }
#green-mode { background-color: #87d63d; }
#purple-mode { background-color: #8f36aa; }

#settings-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-shadow {
    background-color: var(--previewShadowColor);
    width: 325px;
    height: 200px;
    padding-left: 30px;
    padding-top: 30px;
    border: 1.5px solid var(--previewShadowsShadowColor);
    border-radius: 1%;

    -webkit-box-shadow: var(--shadowSettings);
    -moz-box-shadow: var(--shadowSettings);
    box-shadow: var(--shadowSettings);
}

#preview {
    width: 325px;
    height: 200px;
    border: 2px solid var(--previewBorderColor);
    background-color: var(--previewBackgroundColor);
    padding: 15px;
    position: relative;
}

.corner {
    height: 8px;
    width: 8px;
    border: 2px solid var(--previewBorderColor);
    background-color: var(--previewCornerFillColor);
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 50px;
    gap: 100px;
}

.about-wrapper hr {
    margin-top: 2em;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadowColor);
    padding: 10px 0;
}

.language-title {
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;
}

#interests {
    display: flex;
    justify-content: space-evenly;
}

#interests ul {
    padding: 0 4em;
}

.asterisk {
    font-size: 16px;
    font-weight: bold;
    vertical-align: -0.2em;
}

#github-title {
    font-size: 2.5em;
    margin-top: 3em;
    color: #7a2fa0;
    opacity: 90%;
}

.social-links {
    display: grid;
    align-items: center;
    text-align: center;
}

#social-image {
    width: 100%;
    border-radius: 2%;

    -webkit-box-shadow: var(--shadowSettings);
    -moz-box-shadow: var(--shadowSettings);
    box-shadow: var(--shadowSettings);
}

#post-contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
}

.post-wrapper {
    margin-left: 25px;
    margin-right: 25px;
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: var(--shadowSettings);
    -moz-box-shadow: var(--shadowSettings);
    box-shadow: var(--shadowSettings);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.post-preview {
    background-color: var(--postBackgroundColor);
    padding: 15px;
    height: 10em;
}

.post-title {
    color: var(--postTitleColor);
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}

.post-title a {
    color: var(--postTitleColor);
    font-weight: bold;
}

.post-title a:hover { color: var(--linkTextColorOnHover); }

.post-intro {
    color: var(--postSummaryColor);
    font-size: 15px;
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 10px 15px 15px 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

#contact-form label {
    line-height: 2.75em;
    padding-left: 5px;
}

#contact-form input {
    display: block;
    width: 98%;
    padding-left: 10px;
    margin-bottom: 10px;
}

#contact-form textarea {
    min-height: 100px;
    width: 98%;
    font-size: 14px;
    padding-left: 10px;
    resize: none;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}

#submit-btn {
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    color: var(--formButtonTextColor);
    background-color: var(--formButtonColor);
    border: none;
    border-radius: 5px;
    justify-content: center;
}

#submit-btn:hover { background-color: var(--formElementColorOnHover); }

.input-field:hover { border-color: var(--formElementColorOnHover); }

.footer {
    font-size: 12px;
    text-align: center;
    padding-bottom: -10px;
}

.footer a { color: var(--footerLinksColor); }

.footer a:hover{ color: var(--footerLinksColorOnHover); }

#footer-shoutout { padding-top: 5px; }

#footer-createdby { 
    margin-top: -5px;
    margin-bottom: -5px;
}

@media screen and (max-width: 1200px) {
    .main-container { width: 95%; }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper',
            'left-column',
            'right-column'
        ;
    }
    .right-column { justify-content: center; }
}
