
:root {
    --mainColor: #72fd79;
    --secondaryColor: #B9FEBC;
    --borderColor: #000;

    --mainTextColor: #000;
    --secondaryTextColor: #000;

    --linkTextColor: #0066FF;
    --linkTextColorOnHover: #A341FF;

    --themeDotBorderColor: #000;
    --shadowSettings: -1px 1px 3px -1px #000;

    --previewBackgroundColor: #16DD20CC;
    --previewShadowColor: #11A618;
    --previewShadowsShadowColor: #000;

    --previewBorderColor: #000;
    --previewCornerFillColor: #FFF;

    --postBackgroundColor: #FFF;
    --postTitleColor: #000;
    --postSummaryColor: #4B5156;

    --formButtonColor: #000;
    --formButtonTextColor: #fff;
    --formElementColorOnHover: #4B5156;

    --footerLinksColor: #0066FF;

}

#dot-3 { background-color: #2F9C3D; }
