
:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #c1c1c1;

    --mainText: black;
    --secondaryText: #4b5156;

    --themeDotBorder: #24292e;

    --shadowSettings: -1px 1px 3px -1px rgba(0,0,0,0.75);

    --previewBackground: rgba(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;
    --previewShadowsShadow: #e0e0e0;

    --buttonColor: black;
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body * {
	transition: 0.3s;
}

h1, h1, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a { 
    text-decoration: none;
    color: #47a4b3;
    font-family: 'Roboto Mono', monospace;
}

a:hover {
    color: #783eff;
}

ul {
    list-style: none;
}

h1 { font-size: 56px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
    padding: 0px 10px 20px 10px;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 2px solid var(--borderColor);
    border-radius: 5px;

    -webkit-box-shadow: var(--shadowSettings);
    -moz-box-shadow: var(--shadowSettings);
    box-shadow: var(--shadowSettings);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper {
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#navigation li a {
    font-weight: 600;
}

#navigation li a:hover {
    font-size: 18px;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

#dot-1 { background-color: #fc6058; }
#dot-2 { background-color: #fec02f; }
#dot-3 { background-color: #2aca3e; }

.browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: var(--shadowSettings);
    -moz-box-shadow: var(--shadowSettings);
    box-shadow: var(--shadowSettings);
}

.left-column {
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile-pic {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
    border-radius: 15%;
}

#profile-pic:hover {
    -webkit-box-shadow: -1px 1px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 8px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 8px -1px rgba(0,0,0,0.75);
}

#theme-options-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.theme-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);
    background-color: black;

    -webkit-box-shadow: var(--shadowSettings);
    -moz-box-shadow: var(--shadowSettings);
    box-shadow: var(--shadowSettings);
    cursor: pointer;
}

.theme-dot:hover {
    border-width: 4px;
}

#light-mode {
    background-color: #fff;
}

#blue-mode {
    background-color: #192734;
}

#green-mode {
    background-color: #78866b;
}

#purple-mode {
    background-color: #7e4c74;
}

#settings-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}



.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-shadow {
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
    border: 1.5px solid var(--previewShadowsShadow);
    border-radius: 1%;

    -webkit-box-shadow: var(--shadowSettings);
    -moz-box-shadow: var(--shadowSettings);
    box-shadow: var(--shadowSettings);
}

#preview {
    width: 300px;
    height: 180px;
    border: 2px solid #17a2b8;
    background-color: var(--previewBackground);
    padding: 15px;
    position: relative;
}

.corner {
    height: 7px;
    width: 7px;
    border: 2px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 50px;
    gap: 100px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.social-links {
    display: grid;
    align-items: center;
    text-align: center;
}

#social-image {
    width: 100%;
    border-radius: 2%;

    -webkit-box-shadow: var(--shadowSettings);
    -moz-box-shadow: var(--shadowSettings);
    box-shadow: var(--shadowSettings);
}

#post-contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
}

.post-wrapper {
    margin-left: 25px;
    margin-right: 25px;
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: var(--shadowSettings);
    -moz-box-shadow: var(--shadowSettings);
    box-shadow: var(--shadowSettings);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.post-preview {
    background-color: #fff;
    padding: 15px;
}

.post-title {
    color: black;
    margin: 0;
}

.post-intro {
    color: #4b5156;
    font-size: 16px;
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 10px 15px 15px 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

#contact-form label {
    line-height: 2.75em;
    padding-left: 5px;
}

#contact-form input {
    display: block;
    width: 98%;
    padding-left: 10px;
    margin-bottom: 10px;
}

#contact-form textarea {
    min-height: 100px;
    width: 98%;
    font-size: 14px;
    padding-left: 10px;
    resize: none;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}

#submit-btn {
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;
    border-radius: 5px;
    justify-content: center;
}

.todo {
    color: rgb(255, 187, 0);
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper',
            'left-column',
            'right-column'
        ;
    }

    .right-column {
        justify-content: center;
    }
}
